
<div class = "graph_canvas">
<canvas id="myChart1" width="360" height="210"></canvas>
<canvas id="myChart2" width="360" height="210"></canvas>
</div>

<script>draw_graph1();</script>
<script>draw_graph2();</script>
