
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 transitional//EN"
"http://www.w3.org/TR/rec-html40/loose.dtd">
<head>
<title>Animation</title>
<LINK REL=STYLESHEET href="JSstyle.css" TYPE="text/css">
</head>

<body onload="Check()">
<!-- <body style="background: url(room.jpg);" onload="Check()"> -->

<meta name="viewport" content="width=device-width" >


<h3 class="title">Hello world.Hello world.Hello world.</h3>

Hello world. <br><br>


<DIV  ID="FlyImg1" style="position:absolute">
  <IMG src="images/dance_buta.gif" id="target">
</DIV>

<DIV ID="FlyImg2" style="position:absolute">
  <IMG src="images/bear.gif" id="target">
</DIV>

<DIV ID="FlyImg3" style="position:absolute">
  <IMG src="images/dance_buta.gif" id="target">
</DIV>

<!-- html から JS に引数を渡す -->
<script type="text/javascript">
  var image_width = 100
  var image_height= 100
</script>


<!-- <script type="text/javascript" src="note5.js"></script> -->
<script type="text/javascript" src="note6.js"></script>


</body>
</html>

